

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Comfortaa:wght@300&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');





.nav-item {
  font-family: 'Jost', sans-serif;
  letter-spacing: 2px;
  font-weight: bolder;
}
.navbar{
  background-color: rgba(0, 38, 49, 0.232);
  width: 100%;
}

.navbar-collapse{
  padding-left: 10px;
}





/* login & signup css */

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* background: #ffffff url('./components/img/bg.png') no-repeat center center/cover; */
  font-size: 12px;
}



body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}



.screen {
  position: relative;
  
  background: #000b39cf;
  border-radius: 15px;
  margin-top: 12%;
}


.row{
  font-family: 'Comfortaa', cursive;
}

.signup-image figure{
  display: flex;
  height: 200px;
  width: 220px;
  opacity: 0.8;
 
}

.register-image figure{
  display: flex;
  height: 200px;
  margin-top: 25%;
  width: 220px;
  opacity: 0.8;
  filter: invert();
 
}
.signin-image figure{
  display: flex;
  height: 200px;
  width: 220px;
  opacity: 0.8;
  filter: invert();
  /* margin-top: 50px; */
}

.signup-img-link{
  background: none;
  border: none;
  color: #005469;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  text-decoration: dashed;
}

.signup-img-link:hover {
  color: #9dd4e1;
}

.signin-img-link{
  background: none;
  border: none;
  color: #005469;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  text-decoration: dashed;
}

.signin-img-link:hover {
  color: #9dd4e1;
}

.zmdi {
  color: #ffffff;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}


.screen-body {
  display: flex;
  
  font-family: 'Comfortaa', cursive;
}

.screen-body-item {
  flex: 1;
  padding: 40px;
}

.screen-body-item1 {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
  
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #7a8c90;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #9fd2dd;
}


.app-form-group {
  padding-bottom: 10px;
  color: rgb(36, 79, 91);
  margin:auto;
}

.app-form-group1 {
  
  margin-bottom: 15px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  /* text-transform: uppercase; */
  outline: none;
  transition: border-color .2s;
}


.app-form-control::placeholder {
  color: #a1c0c8;
}

.app-form-control:focus {
  border-bottom-color: #065c64;
}

.app-form-button {
  background: none;
  border: none;
  color: #044a69;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #a87e7e;
}





.play{
  font-family: 'Monoton', cursive;
  }


@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }
  

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

